@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  overflow-y: hidden;
}

html{
  background-color: #edf1fa;
}
@layer base {
  :root {
    --background: 201 100% 95%;
    --foreground: 201 5% 0%;
    --card: 201 50% 90%;
    --card-foreground: 201 5% 10%;
    --popover: 201 100% 95%;
    --popover-foreground: 201 100% 0%;
    --primary: 201 84.3% 32.5%;
    --primary-foreground: 0 0% 100%;
    --secondary: 201 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 163 30% 85%;
    --muted-foreground: 201 5% 35%;
    --accent: 163 30% 80%;
    --accent-foreground: 201 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 201 5% 90%;
    --border: 201 30% 50%;
    --input: 201 30% 18%;
    --ring: 201 84.3% 32.5%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 201 50% 5%;
    --foreground: 201 5% 90%;
    --card: 201 50% 0%;
    --card-foreground: 201 5% 90%;
    --popover: 201 50% 5%;
    --popover-foreground: 201 5% 90%;
    --primary: 201 84.3% 32.5%;
    --primary-foreground: 0 0% 100%;
    --secondary: 201 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 163 30% 15%;
    --muted-foreground: 201 5% 60%;
    --accent: 163 30% 15%;
    --accent-foreground: 201 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 201 5% 90%;
    --border: 201 30% 18%;
    --input: 201 30% 18%;
    --ring: 201 84.3% 32.5%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
table thead tr th{
  border-bottom: none;
}
table thead tr th:first-child{
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
table thead tr th:last-child{
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
table tbody tr {
  border-bottom: 1px solid #EAECF0;
}